body {
	background-color: #34495e;
}

body h1 {
	color: white;
	font-family: sans-serif, arial;
	font-size: 3em;
	text-align: center;
	width: 500px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	border: 0px solid white;
	vertical-align: middle;
	border: 2px solid white;
	line-height: 100px;
}

body div {
	color: white;
	font-family: sans-serif, arial;
	font-size: 1.1em;
	text-align: justify;
	width: 500px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #95a5a6;
}